<div class="form-container">
	<%= form_for(@comment) do |f| %>
		<%= f.hidden_field :commentable_id, value: @posting.id %>
		<%= f.hidden_field :commentable_type, value: @posting.class == Post ? "Post" : "Picture"  %>
		<%= f.label :body, "Your comment: " %><br>
		<%= f.text_area :body %>
		
		<%= f.submit "Submit", class: "submit" %>
	<% end %>
</div>