<section class="container">
	<ul class="user-list">
		<% @users.each do |user| %>
			<div class="user-container">
				<a href="<%= user_path(user) %>"><li class="user-item"><%= image_tag(user.picture, size: "40") %> <span><%= user.username %></span></li></a>
				<% if current_user.id != user.id && Friendship.all.none? { |f| f.friender_id == current_user.id && f.friend_id == user.id } && Friendship.all.none? { |f| f.friender_id == user.id && f.friend_id == current_user.id } %>
					<%= form_for(:friendship, url: friendships_path, html: { class: "friend-form"}) do |f| %>
						<%= f.hidden_field :friender_id, value: current_user.id %>
						<%= f.hidden_field :friend_id, value: user.id %>
						<%= f.submit "Add as a friend", class: "friend-request" %>
					<% end %>
				<% end %>
			</div>
		<% end %>
	</ul>
</section>