<section class="profile">
		<h1><%= @user.username %></h1>
		<p><%= @user.email %></p>
	</section>
<section class="posts">
	<% @user.posts.each do |post| %>
		<div class="post">
			<p><%= post.body %></p>
			<%= link_to "Edit", edit_post_path(post) %>
			<%= link_to "Delete", post_path, method: :delete %>
		</div>
	<% end %>
</section>