<section class="posts">
	<% if current_user.id == @user.id %>
		<h1 class="posts-title">Your Posts</h1>
	<% else %>
		<h1 class="posts-title"><%= @user.username.capitalize %>'s Posts</h1>
	<% end %>
	<% all_posts(@user.id).each do |post| %>
		<div class="post">
			<p><%= link_to body_or_picture(post), path(post) %></p>
			<% if current_user.id == @user.id %>
				<%= link_to "Edit", edit_path(post), class: "left-link" %>
				<%= link_to "Delete", path(post), method: :delete, class: "left-link" %>
			<% end %>
			<span class="right-text" href="#">Likes (<%= post.likes.count %>)</span>
			<span class="right-text">Comments (<%= post.comments.count %>)</span>
		</div>
	<% end %>
</section>
<% if current_user.id != params[:id].to_i %>
	<%= render "right_bar" %>
<% end %>