<section class="posts">
	<% if current_user.id == @user.id %>
		<h1 class="posts-title">Your Posts</h1>
	<% else %>
		<h1 class="posts-title"><%= @user.username.capitalize %>'s Posts</h1>
	<% end %>
	<% @user.posts.each do |post| %>
		<div class="post">
			<p><%= link_to post.body[0..250] + "...", post_path(post) %></p>
			<% if current_user.id == @user.id %>
				<%= link_to "Edit", edit_post_path(post), class: "left-link" %>
				<%= link_to "Delete", post_path, method: :delete, class: "left-link" %>
			<% end %>
			<a class="right-link" href="#">Like (<%= post.likes %>)</a>
			<%= link_to "Comment (#{post.comments.count})", new_comment_path(post_id: post.id, comment: true), class: "right-link" %>
		</div>
	<% end %>
</section>
<% if current_user.id != @user.id && Friendship.all.none? { |f| f.friender_id == current_user.id && f.friend_id == @user.id } && Friendship.all.none? { |f| f.friender_id == @user.id && f.friend_id == current_user.id } %>
	<section class="right">
		<div class="right-info">
			<%= image_tag("/images/Untitled.png", size: "50", class: "user-pic") %>
		</div>
		<div class="add">
			<%= form_for(:friendship, url: friendships_path) do |f| %>
				<%= f.hidden_field :friender_id, value: current_user.id %>
				<%= f.hidden_field :friend_id, value: params[:id] %>
				<%= f.submit "Add as a friend" %>
			<% end %>
		</div>
	</section>
<% end %>