<section class="comments">
	<h2 class="comments-title">Comments:</h2>
	<% @posting.comments.each do |comment| %>
		<% unless comment.commenter.nil? %>
			<div class="comment">
				<p><%= comment.body %></p>
				<i>by <%= link_to comment.commenter.username, user_path(comment.commenter.id) %></i> <i>on <%= comment.updated_at.strftime("%m-%d-%Y at %I:%M %p") %></i>
				<% if comment.commenter.id == current_user.id %>
					<%= link_to "Edit", edit_comment_path(comment.id, commentable_id: @posting.id, commentable_type: @posting.class, edit: true), class: "right-link" %>
					<%= link_to "Delete", comment_path(comment, commentable_id: @posting.id), method: :delete, class: "right-link" %>
				<% end %>
			</div>
		<% end %>
	<% end %>
	<%= render "comments/form" %>
</section>