<section class="posts">
	<h1 class="posts-title">Pictures</h1>
	<% @pictures.each do |picture| %>
		<div class="post">
			<%= image_tag(picture.user.picture, size: "30", class: "pic") %>
			<%= link_to picture.user.username, user_path(picture.user), class: "name" %>
			<%= link_to image_tag(picture.picture, size: "400", class: "picture"), picture_path(picture)%>
			<span class="created">Created on <%= picture.created_at.strftime("%m-%d-%Y at %I:%M %p") %>
			<%= link_to "Comment (#{picture.comments.count})", picture_path(picture), class: "right-link" %>
			<%= form_for(:like, url: likes_path, html: { class: "like-form"}) do |f| %>
				<%= f.hidden_field :user_id, value: current_user.id %>
				<%= f.hidden_field :likable_id, value: picture.id %>
				<%= f.hidden_field :likable_type, value: "Picture" %>
				<%= f.submit "Like (#{Like.where(likable_id: picture.id, likable_type: "Picture").count})", class: "likes" %>
			<% end %>
		</div>
	<% end %>
</section>
