<div class="container">
	<section class="post-body right-section">
		<div class="post-main">
			<%= image_tag @posting.picture, class: "post-pic" %>
		</div>
		<div class="post-links">
			<span class="user-name">Created by <%= link_to @posting.user.username, user_path(@posting.user) %></span> <span class="created">Created on <%= @posting.created_at.strftime("%m-%d-%Y at %I:%M %p") %></span> <span class="right-link">Comment (<%= @posting.comments.count %>)</span>
			<%= render "likes/form", posting: @posting %>
		</div>
	</section>
	<%= render "shared/comments" %>
</div>


