<header class="main">
	<div class="search-box">
		<input class="search" type="text" placeholder="Search a User...">
	</div>
	<nav class="nav-up">
		<ul>
		<% if user_signed_in? %>
			<a href="<%= users_path %>"><li>Users</li></a>
			<a href="<%= posts_path %>"><li>Posts</li></a>
			<a href="<%= user_path(current_user) %>"><li>Profile</li></a>
			<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
		<% else %>
			<a href="<%= new_user_session_path %>"><li>Sign in</li></a>
			<a href="<%= new_user_registration_path %>"><li>Sign up</li></a>
		<% end %>
		</ul>
	</nav>
</header>