<section class="profile">
	<div class="header-im">
		<h1 class="header-title"><%= link_to "RORbook", root_path %></h1>
	</div>
	<div class="info">
		<%= link_to image_tag(current_user.picture, size: "50", class: "user-pic"), user_path(current_user) %>
		<h2><%= current_user.username %></h2>
	</div>
	<div class="actions">
		<%= link_to "Create a post", new_post_path(id: current_user.id), class: "action" %>
		<%= link_to "Edit account", edit_user_registration_path(id: current_user.id), class: "action" %>
	</div>
	<% if current_user.friendships.any? { |f| f.approve == 0 } %>
		<div class="accept">
			<h3 class="request-title">Friend Requests</h3>
			<ul>
				<% current_user.friendships.each do |friendship| %>
					<% if friendship.approve == 0 %>
						<li class="request"><%= link_to friendship.friender.username, user_path(friendship.friender) %> wants to add you as a friend</li>
						<%= form_for(:friendship, url: friendship_path(friendship), method: :patch) do |f| %>
							<%= f.hidden_field :friender_id, value: friendship.friender_id %>
							<%= f.hidden_field :friend_id, value: current_user.id %>
							<%= f.hidden_field :approve, value: 1 %>
							<%= f.submit "Accept", class: "accept-submit" %>
						<% end %>
						<%= link_to "Decline", friendship_path(friendship), method: :delete, class: "decline" %>
					<% end %>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="friends">
		<h3 class="friends-title">Friends</h3>
		<ul>
			<% current_user.friendships.each do |friendship| %>
				<% if friendship.approve == 1 %>
					<a href="<%= user_path(friendship.friender) %>" title="<%= friendship.friender.username %>"><li class="friend"><%= image_tag(friendship.friender.picture, size: "20") %></li></a>
				<% end %>
			<% end %>
		</ul>
	</div>
</section>