<!DOCTYPE html>
<html>
  <head>
    <title>RorBook</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag       'favicon.ico' %>
    <%= stylesheet_link_tag    'reset' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag		 'main' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1779520908997439',
        xfbml      : true,
        version    : 'v2.8'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
    </script>
  	<%= render "layouts/header" %>

    <%= render "layouts/footer" %>

    <div class="container">
      <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      
      <% if user_signed_in? %>
        <%= render "layouts/profile" %>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
